.swiper-slide {
  background: transparent;
}

.swiper-slide p {
  font-size: 16px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet {
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
